@media screen and (max-width:490px) {
    .center {
        padding-left: calc(50vw - 180px);
        padding-right: calc(50vw - 180px);
    }
    .offer {
        padding-top: 40px;
        padding-bottom: 40px;
        &__title {
            font-size: 26px;
            margin-bottom: 15px;
        }
        &__desc {
            margin-bottom: 20px;
        }
    }
    .nav__list {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .header{
        padding-top: 40px;
    }
    .btn {
        min-height: 45px;
        padding: 5px 5px;
        max-width: 100px;
    }
    .offer__content,
    .aboutme__desc,
    .process__desc {
        max-width: 300px;
    }
    body, 
    .aboutme__desc,
    .process__desc
      {
        font-size: 10px;
    }
    .aboutme__title,
    .process__title {
        margin-bottom: 10px;
    }
    .process,
    .aboutme {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .process__desc {
        padding-bottom: 20px;
    }
    .projects {
        max-width: 485px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        &__icon {
            max-width: 30px;
            margin-right: 10px;
        }
        &__item {
            padding-right: 0px;
            padding-left: 0px;
        }
        &__text-top {
           font-size: 10px;
        }
        &__text-bottom {
            font-size: 10px; 
        }
    }
    .video__icon {
        width: 100%;
        height: auto;
        max-width: 620px;
    }
    .video__button {
        max-width: 50px;
    }
    .footer {
        padding-bottom: 15px;
        padding-top: 15px;
        &__name {
            font-size: 10px;
            margin-bottom: 10px;
        }
        &__copyright {
            font-size: 8px;
        }
    }
}